s3-bucket
.terraform

crud/.terraform
crud/.terraform.lock

modules/crud/.terraform
modules/crud/.terraform.lock

modules/crud/vpc_crud/.terraform
modules/crud/vpc_crud/.terraform.lock

modules/crud/infrastructure/.terraform





